<!-- <span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small> -->
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
    <ul class="list-unstyled components mb-5">
        <li>
            <a routerLink="profile" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faUser"></fa-icon></span> Perfil</a>
        </li>
        <li>
            <a routerLink="whatsapp" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faWhatsApp"></fa-icon></span>Whatsapp</a>
        </li>
        <li>
            <a routerLink="import-products" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faUpload"></fa-icon></span> Importar Produtos</a>
        </li>
        <li>
            <a routerLink="extract-info" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faDownload"></fa-icon></span>Extrair dados</a>
        </li>
        <li>
            <a routerLink="support" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faPhone"></fa-icon></span> Suporte</a>
        </li>
        <li>
            <a routerLink="logout" routerLinkActive="active"><span class="mr-3"><fa-icon [icon]="faSignOutAlt"></fa-icon></span> Sign Out</a>
        </li>
    </ul>
    </nav>

    <div id="content" class="p-4 p-md-5 pt-5">
        <router-outlet></router-outlet>
    </div>
</div>

