<table id="mytable" class="table table-bordred table-striped">
                   
    <thead>
    
    <th><input type="checkbox" id="checkall" /></th>
    <th>Produto</th>
     <th>Preço</th>
      <th>Editar</th>
      <th>Continuar</th>
      <th>Pausar</th>
       <th>Deletar</th>
    </thead>
<tbody>

<tr>
<td><input type="checkbox" class="checkthis" /></td>
<td>Coca-Cola zero açucar 1.5lts</td>
<td>{{100000000|currencyFormat}}</td>
<td><a  routerLink="." class="col-sm-12 col-sm-12 btn btn-outline-warning " alt="Editar"><fa-icon [icon]="faEdit"></fa-icon></a></td>
<td><a  routerLink="." class="col-sm-12 col-sm-12 btn btn-outline-primary " alt="Voltar com o produto"><fa-icon [icon]="faPlay"></fa-icon></a></td>
<td><a  routerLink="." class="col-sm-12 col-sm-12 btn btn-outline-secondary" alt="Pausar Venda"><fa-icon [icon]="faPause"></fa-icon></a></td>
<td><a  routerLink="." class="col-sm-12 col-sm-12 btn btn-outline-danger align-middle" alt="Deletar"><fa-icon [icon]="faTrash"></fa-icon></a></td>
</tr>
</tbody>

</table>