<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-center">Coca-Cola zero Açucar</h5>
        <div class="row">
            <a href="#" class="col-md-2 col-sm-12 btn btn-primary mx-auto mt-3" alt="Voltar com o produto"><fa-icon [icon]="faPlay"></fa-icon></a>
            <a href="#" class="col-md-2 col-sm-12 btn btn-warning mx-auto mt-3" alt="Pausar Venda"><fa-icon [icon]="faPause"></fa-icon></a>
            <a href="#" class="col-md-2 col-sm-12 btn btn-danger mx-auto mt-3" alt="Deletar"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
    </div>
</div>
