<div class="content">
<div class="row">
      <h1 class="col-sm-12">Pedido #1</h1>
      <div class="col-md-6 col-sm-12">
          <div class="row">
              <h3 class="col-sm-12">Endereço</h3>
              <p class="col-sm-12">Rua das marrecas, 71 apto 102</p>
              <p class="col-sm-12">CEP: 123456-000</p>
              <div class="col-sm-12">
                  <iframe src="https://maps.google.com/maps?q=Rua das marrecas, 71 apto 102&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0"style="border:0;width:100%" allowfullscreen></iframe>                
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="row">
              <h3 class="col-sm-12">Pagamento</h3>
              <p class="col-sm-12">Forma de pagamento Dinheiro</p>
              <p class="col-sm-12">Troco para R$140,00</p>
              <p class="col-sm-12">Total R$135,00</p>
              <p class="col-sm-12">Troco R$5,00</p>
          </div>
      </div>
  </div>
  <div class="row" style="margin-top: 25px;margin-bottom: 15px;">
      <h3 class="col-sm-12">Pedido</h3>
  </div>
  <div class="row">
      <div class="col-sm-12">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">QTD</th>
              <th scope="col">Produto</th>
              <th scope="col">Preço un.</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Coca Cola zero</td>
              <td>R$5,00</td>
              <td>R$5,00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Wey Protein</td>
              <td>R$60,00</td>
              <td>R$120,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bala</td>
              <td>R$3,33</td>
              <td>R$10,00</td>
            </tr>
          </tbody>
          <tfoot>
              <tr class="table-primary">
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td>R$135,00</td>
              </tr>
          </tfoot>
        </table>
      </div>
  </div>
</div>