<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Pedido #4</h5>
                <h6><span class="badge badge-warning">Pendente</span></h6>
                <div class="card-text">
                    <p><fa-icon [icon]="faHome"></fa-icon> Rua das marrecas, 72 apto 104, centro, rio de janeiro - 20123333</p>
                    <p><fa-icon [icon]="faWallet"></fa-icon> Cartão <br /></p>
                    <p><fa-icon [icon]="faMoneyBill"></fa-icon> R$100,00 <br /></p>
                </div>
                <a href="#" class="btn btn-primary col-sm-12">Abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Pedido #3</h5>
                <h6><span class="badge badge-info">A caminho</span></h6>
                <div class="card-text">
                    <p><fa-icon [icon]="faHome"></fa-icon> Rua das marrecas, 72 apto 104, centro, rio de janeiro - 20123333</p>
                    <p><fa-icon [icon]="faWallet"></fa-icon> Cartão <br /></p>
                    <p><fa-icon [icon]="faMoneyBill"></fa-icon> R$100,00 <br /></p>
                </div>
                <a href="#" class="btn btn-primary col-sm-12">Abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Pedido #2</h5>
                <h6><span class="badge badge-success">Entregue</span></h6>
                <div class="card-text">
                    <p><fa-icon [icon]="faHome"></fa-icon> Rua das marrecas, 72 apto 104, centro, rio de janeiro - 20123333</p>
                    <p><fa-icon [icon]="faWallet"></fa-icon> Cartão <br /></p>
                    <p><fa-icon [icon]="faMoneyBill"></fa-icon> R$100,00 <br /></p>
                </div>
                <a href="#" class="btn btn-primary col-sm-12">Abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Pedido #1</h5>
                <h6><span class="badge badge-danger">Cancelado</span></h6>
                <div class="card-text">
                    <p><fa-icon [icon]="faHome"></fa-icon> Rua das marrecas, 72 apto 104, centro, rio de janeiro - 20123333</p>
                    <p><fa-icon [icon]="faWallet"></fa-icon> Cartão <br /></p>
                    <p><fa-icon [icon]="faMoneyBill"></fa-icon> R$100,00 <br /></p>
                </div>
                <a href="#" class="btn btn-primary col-sm-12">Abrir</a>
            </div>
        </div>
    </div>
</div>
</div>